html {
  font-size: 62.5%;
  box-sizing: border-box;
  background: grey;
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.calculator {
  border: 0px solid #ccc;
  border-radius: 0px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
}

.calculator-screen {
  width: 100%;
  font-size: 5rem;
  height: 80px;
  border: none;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: red;
  color: #fff;
  text-align: right;
  padding-right: 20px;
  padding-left: 10px;
}

.calculator-keys{
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  grid-column-gap: 10px;
  padding: 20px;
}

button{
  width: 50px;
  height: 50px;
  cursor: pointer;
  background-color: #ccc;
  border-radius: 50%;
  border: none;
  font-size: 25px;
}

button:hover {background-color: red}

button:active {
  background-color: pink;
  box-shadow: 0 5px #666;
  transform: translateY(6px);
}

.equal-sign{
  background-color: red;

}
